name: spring boot demo

on: 
  push:
    branches:
      - main

jobs:
  build-deploy:
    name: Build and Deploy Spring Boot Beginners
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout code 
        uses: actions/checkout@v3

      # 2️⃣ Setup JDK 21
      - name: Setup JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: 21

      # 3️⃣ Build JAR
      - name: Build application
        run: |
          mvn clean
          mvn -B package --file pom.xml

      # 4️⃣ Build Docker image (locally)
      - name: Build Docker image
        uses: docker/build-push-action@v4
        with:
         context: .
         file: Dockerfile
         push: false
         load: true
         tags: ${{ secrets.DOCKER_HUB_USERNAME }}/spring-boot:1.0.0

      # 5️⃣ Scan Docker image with Trivy
      - name: Scan image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKER_HUB_USERNAME }}/spring-boot:latest
          severity: HIGH,CRITICAL
          ignore-unfixed: true
          exit-code: 1

      # 6️⃣ Push to Docker Hub
      - name: Push to Docker Hub
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/spring-boot:latest
          no-cache: true

      # 7️⃣ Final login (optional)
      - name: Login to Docker Hub (final)
        uses: docker/login-action@v3
        with: 
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
